<div class="container-fluid"></div>
    <button id="scrape">Scrape</button>
    <button id="allBlogs" onclick= "window.location.href='/allBlogs'">See All Blogs</button>
    <div id="notesMain">
        <h3>Saved Notes</h3>
        {{#each savedNotes}}
            <div class="notes">
                <h6 class="articleNotes" data-id="{{this._id}}">Blog: {{this.article}}</h6>
                <h7 class="noteTitle">Title: {{this.title}}</h7>
                Note: {{this.body}}
                </br>
                <button class="deleteNote" data-id="{{this._id}}">Delete Note</button>
        {{/each}}
    </div>
</div>